#!/bin/bash
# TINC down script for {{ node_name }}

# Remove from etcd
if command -v etcdctl >/dev/null 2>&1; then
    etcdctl del /peers/{{ node_name }} --endpoints="{{ etcd_endpoints }}"
fi

# Bring down interface
ip link set $INTERFACE down
