# Mesh Node - Laptop Client
# Connects to netmaker.altermundi.net

services:
  netclient:
    image: gravitl/netclient:v0.24.2
    container_name: netclient
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    # NOTE: net.ipv4.ip_forward=1 must be set on the host (sysctls not allowed with network_mode: host)
    network_mode: host
    volumes:
      - netclient_data:/etc/netclient
    environment:
      TOKEN: "${ENROLLMENT_TOKEN}"
    restart: unless-stopped

volumes:
  netclient_data:
